<div class="panel panel-primary">
    <div class="panel-heading">
       {{pageTitle}}
    </div>
    <div class="panel-body">
            <div class="row">
                    <div class="col-md-2">Filter By:</div>
                    <div class="col-md-4">
                        <input type="text" [(ngModel)]="filterText"/>
                    </div>
                   
                </div>
          <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th> Order Id</th>                     
                        <th> Product Name</th>
                        <th> Order Date</th>
                        <th> Sale Price</th>
                        <th> Rating</th>
                       

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of Orders|orderFilter:filterText">
                        <td>{{order.OrderId}}</td>
                        <td>{{order.productName|lowercase}}</td>
                        <td>{{order.OrderDate}}</td>
                        <td>{{order.Saleprice|currency:'USD':true}}</td>
                        <td><edu-star></edu-star></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>